.container_header {
   position: fixed;
   top: 0;
   width: 100%;
   height: 10vh;
   display: flex;
   justify-content: start;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.1);
   backdrop-filter: blur(20px);
}


.nav_header {
   position: fixed;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 0 3rem 0 5rem;
   width: 50%;
   font-size: 1rem;
}

.nav_a {
   letter-spacing: 2px;
   font-weight: bold;
   color: antiquewhite;
   text-decoration: none;
}

.nav_a:hover {
   color: #faebd784;
}


.iconProjects {
   display: none;
}

@media (max-width: 1024px) {

   .nav_header {
      width: 20%;
      padding: 0 3rem 0 0;
   }
}

@media (min-width: 280px) and (max-width: 1024px) {
   .nav_header {
      justify-content: space-between;
   }

   .nav_a {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
   }

   .iconProjects {
      display: block;
      width: 2rem;
   }

   .movile_none {
      display: none;
   }
}