.contentAbaut {
  height: 100vh;
  background: #0F2027;
  display: flex;
  justify-content: start;
  align-items: center;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}

.textAbaut {
  width: 60%;
  margin: 2rem 0 0 5rem;
  background-color: #fcfbfb1a;
  backdrop-filter: blur(5px);
}

@media (max-width: 900px) {
  .textAbaut {
    width: 100%;
    margin: 0;
    font-size: 1rem;
  }
}