#aboutMe {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ccc;
  padding: 5rem 0 0 0;
}

.textAbout {
  width: 55%;
  z-index: 1;
}

.titleAboutMe {
  font-size: 2.5rem;
}

.descriptionAboutMe {
  font-size: 1rem;
}

.iconsAboutMe {
  background-color: #cccccc3d;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: .5rem;
}

.iconAboutMe {
  margin: 0 .5rem 0 0;
}

.myAvatar {
  width: 100%;
}

@media (max-width: 1200px) {
  .iconsAboutMe {
    flex-wrap: wrap;
    justify-content: start;

  }
}

@media(max-width: 992px) {
  #aboutMe {
    flex-direction: column;
  }

  .myAvatar {
    display: none;
  }

  .textAbout {
    width: 90%;
  }

  .titleAboutMe {
    text-align: center;
  }

  .iconsAboutMe {
    justify-content: center;
    align-items: center;
  }

  .iconAboutMe {
    margin-right: 1rem;
  }
}