.containerHeader {
  height: 100vh;
  color: aliceblue;
  background-color: rgba(69, 107, 107, 0.13);
}

.bgBlur {
  background-color: #f0f0f01a;
  backdrop-filter: blur(10px);
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
}


.iconContact {
  width: 4rem;
  margin: 0 1.5rem !important;
}

.textHeader {
  font-size: 1.4rem !important;
  line-height: 2rem;
  color: aliceblue;
}


@media(max-width: 991px) {

  .textHeader {
    width: 90% !important;
    line-height: 1.5rem;
    padding: 1rem !important;
    font-size: 1rem !important;
  }

  .iconContact {
    padding-top: 1rem;
    width: 2.5rem;
  }
}