.containerHeader {
  height: 100vh;
  background: #0F2027;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  color: aliceblue;
}

.bgBlur {
  background-color: #f0f0f01a;
  backdrop-filter: blur(10px);
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
}


.iconContact {
  width: 4rem;
}

.textHeader {
  line-height: 2rem;
}


@media(max-width: 991px) {

  .textHeader {
    width: 90% !important;
    line-height: 1.5rem;
    padding: 1rem !important;
    font-size: 1rem !important;
  }
  
  .iconContact {
    padding-top: 1rem;
    width: 2.5rem;
  }
}