body {
  padding: 0 !important;
  margin: 0 !important;
  background: radial-gradient(125% 149% at 50% 10%, #000 33%, #63e 100%) !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

a {
  text-decoration: none !important;
  color: aliceblue !important;
}

.titleFontFamily {
  text-transform: uppercase !important;
  color: #FFF;
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.colorTitle {
  color: #6610f2 !important;
}

.bgAllComponent {
  background: radial-gradient(125% 149% at 50% 10%, #000 30%, #63e 100%);
}