.linkMyProjects {
  transition: ease 1s;
  color: #4D4DFF !important;
  border: solid 1px white;
}

.linkMyProjects:hover {
  border: solid 2px rgb(110, 99, 99);
}

.bgBlur {
  background-color: #0F2027;
  transition: ease 2s;
}

.bgBlur:hover {
  background-color: #0F2027;
}

@media (max-width: 1000px) {
  .containerMyProjects {
    width: 100%;
  }
}