.containerMyProjects {
  background: #0F2027;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);

}

.linkMyProjects {
  transition: ease 1s;
  border: solid 1px white;
}

.linkMyProjects:hover {
  border: solid 2px black;
}

.bgBlur {
  background-color: #0f2027d8;
  transition: ease 2s;
}

.bgBlur:hover{
  background-color: #0F2027;
}

@media (max-width: 1000px) {
  .containerMyProjects {
    width: 100%;
  }
}