.navContent {
  background-color: #00000093;
  backdrop-filter: blur(30px);
  padding: .5rem 2rem;
}

.log {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 8px;
  color: white;
}


.collapse a {
  font-weight: bolder;
  color: white;
}

.iconsNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
}

.iconContact {
  width: 40px;
}

.bgActive {
  display: block;
  background-color: transparent;
  width: 30px
}

.bgDisable {
  display: none;
}