.containerTechnologies {
  height: 100vh;
  background-image: url('../../assets/image/bg-technologies.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
}

.bg {
  background-color: #e9e9e91a;
  backdrop-filter: blur(1px);
}

.iconTecgnologies {
  width: 9em;
  margin: 1rem;
}

@media (max-width: 1332px) {
  .iconTecgnologies {
    width: 8em;
  }
}

@media (max-width: 700px) {
  .containerTechnologies {
    padding-top: 0;
    padding-bottom: 0;
  }

  .iconTecgnologies {
    margin: .5em;
    width: 3.1em;
  }
}

@media (max-width: 400px) {
  .iconTecgnologies {
    width: 2.5em;
    margin: .1em;
    padding-bottom: 1rem;
  }
}