.containerTechnologies {
  height: 100vh;
  background: #355C7D;
  background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
}

.iconTecgnologies {
  width: 9em;
  margin: 1rem;
}

@media (max-width: 1332px) {
  .iconTecgnologies {
    width: 8em;
  }
}

@media (max-width: 700px) {
  .containerTechnologies {
    padding-top: 0;
    padding-bottom: 0;
  }

  .iconTecgnologies {
    margin: .5em;
    width: 3.1em;
  }
}

@media (max-width: 400px) {
  .iconTecgnologies {
    width: 2.5em;
    margin: .1em;
    padding-bottom: 1rem;
  }
}