.card {
  width: 20rem;
}

.card-body {
  background: black;
  border-top: 1px solid #ccc;
}

.iconsCards {
  width: fit-content;
  background-color: #cccccc3d;
  border-radius: 10px;
  padding: .5rem 0;
}

.iconsCards img {
  margin: 0 .5rem;
}



@media (max-width: 400px) {
  .containerCards {
    margin: 1rem !important;
  }
}