#header {
  position: relative;
  height: 100vh;
  background-image: url('../../assets/image/bgHeaderr.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.titleHeader {
  font-size: 3rem !important;
  color: #ccc;
  padding: 0 0 0 10rem;
  font-size: 3rem;
  position: relative;
  z-index: 2;
}

@media (max-width: 769px) {
  #header {
    justify-content: center;
    background-image: url("../../assets/image/_bgMovil.jpeg") !important;
  }

  #header::before {
    background-color: rgba(0, 0, 0, 0.87);

  }

  .titleHeader {
    text-align: center;
    padding: 0;
    background-position: 0;
  }
}